/*******************************************************************************
*******************************************************************************

		COLORS

*******************************************************************************
*******************************************************************************/



$color-background-1: #ffffff;
$color-background-2: #00ACD8;
$color-background-3: #77787B;

// Some headings
$color-text-1: #000000;

// Headings on blue background
$color-text-2: #ffffff;

// Blue headings, links, active nav
$color-text-3: #00ACD8;

// Home page feature boxes
$color-text-4: #4d4d4f;

// Navigation default
$color-text-5: #808285;

// Testimonials copy
$color-text-6: #6D6E71;

// Capabilities copy
$color-text-7: #58595B;



/*******************************************************************************
*******************************************************************************

		END COLORS

*******************************************************************************
*******************************************************************************/


/*******************************************************************************
*******************************************************************************

		TYPOGRAPHY

*******************************************************************************
*******************************************************************************/

$font_base_family : 'Raleway', sans-serif;
$font_base_size : 16px;
$font_base_weight : 400;

$heading-1-size: 1.5rem;
$heading-2-size: 1.4rem;
$heading-3-size: 1.3rem;
$heading-4-size: 1.2rem;
$heading-5-size: 1.1rem;

/*******************************************************************************
*******************************************************************************

		END TYPOGRAPHY

*******************************************************************************
*******************************************************************************/

/*******************************************************************************
*******************************************************************************

		CLARO

*******************************************************************************
*******************************************************************************/



/*******************************************************************************
*******************************************************************************

		END CLARO

*******************************************************************************
*******************************************************************************/
